.home {
  .section {
    .entry-category {
      @include font-family('ubuntu','bold');
      @include font-size(11);

      text-transform: uppercase;
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    .entry-title {
      @include font-family('ubuntu','regular');
      @include font-size(16);
    }

    .entry-summary {
      time,
      p {
        @include font-size(12);
      }
    }

    .entry-img {
      position: relative;
      margin-right: 1.5rem;
      border: 2px solid rgba($white, 0.25);
    }

    .nav {
      @include font-size(12);

      text-transform: uppercase;
      flex-wrap: nowrap;

      .nav-link {
        &::before {
          content: '';
          margin: 0 auto 5px;
          border-top: 4px solid transparent;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          display: block;
          width: 0;
          height: 0;
        }

        &.active {
          color: inherit;
          cursor: default;

          &::before {
            border-top: 4px solid inherit;
          }
        }
      }
    }

    &#home__slider {
      background-color: $gray-200;
    }

    &#who-we-are {
      @include section-palette($white, $primary);

      .nav {
        padding-top: 3rem;

        .nav-link {
          &.active {
            color: lighten($primary, 5%);

            &::before {
              border-top: 4px solid $black-100;
            }
          }
        }
      }

      article {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
        }

        aside,
        .section-content {
          width: 100%;
        }

        aside {
          display: none;

          @include media-breakpoint-up(md) {
            display: block;
            width: 50%;
          }

          img {
            @extend .img-fluid;
          }
        }

        .section-content {
          @include media-breakpoint-up(md) {
            width: 40%;
          }
        }
      }
    }

    &#services {
      @include section-palette($yellow-300, $blue-100);

      .section-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
      }

      article {
        background-color: transparent;
        border: 1px solid rgba($blue-100, 0.5);
      }
    }

    &#directions {
      @include section-palette($blue-100, $yellow-300);
      @include bg-gradient($blue-sky-300, $blue-100, -90deg, '../images/directions__bg--2.png');

      article {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        flex-direction: column;

        @include media-breakpoint-up(md) {
          justify-content: space-between;
          align-items: flex-start;
          flex-direction: row-reverse;
        }

        aside,
        .section-content {
          width: 100%;
        }

        aside {
          display: none;

          @include media-breakpoint-up(md) {
            display: flex;
            justify-content: flex-end;
            width: 35%;
          }
        }

        .section-content {
          @include media-breakpoint-up(md) {
            display: block;
            width: 60%;
          }

          .lead {
            @include font-size(18);

            color: $white;
            margin-bottom: 7rem;
          }
        }

        .entry-title {
          margin-bottom: 1rem;

          a {
            color: $blue-sky-200;

            &:hover,
            &.active {
              color: $yellow-300;
              text-decoration: inherit;
            }
          }
        }
      }

      #directions__vector {
        height: 50rem;

        @include media-breakpoint-up(md) {
          max-height: 45rem;
        }

        &__exclude {
          path {
            fill: none;
            stroke: $blue-200;
            transition: all 1s ease-out;
          }
        }

        &__lago {
          path {
            fill: $blue-200;
            stroke: $blue-200;
            transition: all 1s ease-out;
          }
        }

        &__include {
          [data-class] {
            path {
              fill: $blue-sky-300;
              stroke: $blue-200;
              transition: all 0.5s ease-out;
            }

            &:hover,
            &.active {
              path {
                fill: $yellow-300;
              }
            }
          }
        }
      }
    }

    &#multimedia {
      @include section-palette($white, $blue-100);

      .nav {
        justify-content: center;

        .nav-link {
          color: $blue-100;

          &:hover,
          &:focus,
          &.active {
            color: lighten($blue-100, 5%);
          }

          &.active {
            &::before {
              border-top: 4px solid $black-100;
            }
          }
        }
      }

      .section-header {
        text-align: center;

        .section-title::after {
          right: 0;
          margin: auto;
        }
      }

      #multimedia__slider {
        background-color: $black-100;
      }
    }

    &#featured {
      padding: 0;

      .container-boxed {
        padding: 0;
      }

      figure {
        margin: 0;
      }
    }

    &#newsfeed {
      @include section-palette($primary, $yellow-300);

      .news {
        article {
          display: flex;
          flex-direction: row;
          margin-bottom: 1.5rem;
          align-items: flex-start;

          @include media-breakpoint-up(lg) {
            flex-direction: column;

            .entry-img {
              margin-right: 0;
              margin-bottom: 1.5rem;
              align-items: baseline;

              img {
                max-width: 100%;
              }
            }
          }

          .entry-img {
            span {
              position: absolute;
              top: 1rem;
              right: 1rem;

              .fa-circle {
                color: rgba($black-200, 0.5);
              }

              .fa-inverse {
                color: rgba($white, 0.9);
              }
            }

            img {
              max-width: 15rem;
            }
          }

          .entry-title {
            a {
              color: $white;
            }
          }
        }
      }

      .events {
        article {
          background-color: $yellow-300;

          .entry-title,
          .entry-date {
            a {
              color: $primary;
            }
          }

          header {
            background-color: darken($yellow-300, 5%);
            text-align: center;
            padding: 1.2rem 0;

            .entry-date {
              @include font-family('ubuntu', 'light');
              @include font-size(60);
            }
          }

          .entry-content {
            padding: 1.5rem 1.5rem 0;

            .entry-title {
              padding-bottom: 2rem;
            }
          }

          .entry-summary {
            padding: 0 1.5rem 1.5rem;

            time {
              color: rgba(#000, 0.75);
            }
          }
        }
      }
    }
  }
}
