header {
  &.super-header {
    position: relative;
    z-index: $zindex-modal;
    background-color: transparent;

    nav {
      @extend .navbar-expand;

      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      flex-direction: column-reverse;
      padding: 0;

      a {
        padding: 1.5rem;
        color: $black-200;

        &:hover {
          color: $green-200;
        }
      }

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      ul {
        font-size: 65%;

        @include media-breakpoint-up(sm) {
          font-size: 75%;
        }

        text-transform: uppercase;

        &.right-links {
          margin-top: 0.5rem;

          @include media-breakpoint-up(sm) {
            display: flex;
            margin-left: auto;
            margin-top: 0;
          }
        }

        li {
          &.pte {
            a {
              background-image: url(../images/pte__logo.jpg);
              background-position: right center;
              background-repeat: no-repeat;
              width: 8.5rem;
              height: 4.5rem;

              span {
                @extend .text-hide;
              }
            }
          }
        }
      }
    }
  }

  &.branding {
    position: relative;
    z-index: $zindex-modal;
    background-color: $white;

    nav {
      padding: 5rem 0 3rem;
    }

    @include media-breakpoint-down(xs) {
      nav {
        flex-direction: column;
        margin: auto;
        padding: 1.5rem;

        a {
          margin: 0;

          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  &.primary-nav {
    position: relative;
    z-index: $zindex-modal;

    > .container-boxed {
      background-color: $primary;
      transition: background-color ease-in 0.3s;

      .with-searchform & {
        background-color: darken($primary, 10%);
      }
    }
  }
}

#omnisearch {
  display: block;
  z-index: $zindex-modal - 1;
  transition: opacity 0.1s;
  position: relative;
  overflow: auto;
  opacity: 1;
}
