header {
  &.super-header {
    position: relative;
    background-color: rgba($gray-200, 0.5);
    z-index: $zindex-modal;

    nav {
      @extend .navbar-expand;

      flex-direction: column-reverse;
      padding: 0;

      a {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $black-200;

        &:hover {
          color: $green-200;
        }
      }

      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      ul {
        font-size: 65%;

        @include media-breakpoint-up(sm) {
          font-size: 75%;
        }

        text-transform: uppercase;

        &.right-links {
          margin-top: 0.5rem;

          @include media-breakpoint-up(sm) {
            display: flex;
            margin-left: auto;
            margin-top: 0;
          }
        }

        li {
          &.intranetSidebarToggler {
            a {
              display: flex;
              align-items: center;
              justify-content: space-between;

              span {
                @include font-size(7, 7);

                padding-left: 0.2rem;
              }
            }
          }

          &:not(.pte) {
            border-top: 5px solid transparent;
          }

          &.pte {
            a {
              background-image: url(../images/pte__logo.png);
              background-position: right center;
              background-repeat: no-repeat;
              width: 7.5rem;
              height: 4rem;

              span {
                @extend .text-hide;
              }
            }
          }

          &.current_page_item {
            background-color: $white;
            border-top: 5px solid rgba($gray-200, 0.5);
          }
        }
      }
    }
  }

  &.branding {
    position: relative;
    background-color: $white;
    z-index: $zindex-modal;

    nav {
      padding: 3rem 0;
    }

    @include media-breakpoint-down(xs) {
      nav {
        flex-direction: column;
        margin: auto;
        padding: 1.5rem;

        a {
          margin: 0;

          &:first-child {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }

  &.primary-nav {
    position: relative;
    background-color: $green-100;
    z-index: $zindex-modal;

    > .container {
      position: relative;
    }

    > .container-boxed {
      background-color: $primary;
      transition: background-color ease-in 0.3s;

      .with-searchform & {
        background-color: darken($primary, 10%);
      }
    }
  }
}

#omnisearch {
  display: none;
  transition: opacity 0.1s;
  position: absolute;
  left: 0;
  right: 0;
  overflow: auto;
  opacity: 1;
  z-index: $zindex-modal + 1;
  height: calc(100vh - 30rem);

  .container {
    background-color: $white;
  }

  .show-results & {
    display: block;
  }
}
