.single {
  .jumbotron-single {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15rem 2rem 4rem;
    margin-bottom: 4rem;

    @include media-breakpoint-up(lg) {
      padding: 35rem 2rem 4rem;
    }

    @include bg-overlay($black, to bottom);

    a {
      color: $lime;
    }

    h6 {
      @include font-size(12);

      position: relative;
      z-index: 1;
      // margin-bottom: 0.5rem;

      @include media-breakpoint-up(md) {
        @include font-size(16);

        margin-bottom: 0.5rem;
      }
    }

    h1 {
      position: relative;
      color: $white;
      z-index: 1;
    }
  }

  .sidebar {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 3rem;

    @include media-breakpoint-up(sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      margin-bottom: 0;
    }

    a {
      color: $black-100;
    }

    .author {
      color: $black-200;
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        margin-top: 1rem;
      }
    }
  }

  time {
    color: $black-200;
  }

  .entry-share {
    padding: 0;
    margin-top: 1rem;

    h4 {
      @include font-size(16);

      color: $black-200;

      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    @include media-breakpoint-down(xs) {
      margin-left: -1rem;
      justify-content: start;
    }

    @include media-breakpoint-up(lg) {
      align-items: start;
      justify-content: space-between;
      flex-direction: column;

      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
      }

      .shareName {
        display: block;
        padding-left: 0.5rem;
      }
    }
  }

  .entry-content {
    text-align: justify;

    img {
      @extend .img-fluid;
    }
  }

  section.comments {
    margin-top: 3rem;
  }
}
