main {
  width: 100%;
}

.sidebar-expanded {
  overflow-y: hidden;
}

.sidebar-primary {
  .content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;

    @include media-breakpoint-up(lg) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    main {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      @include media-breakpoint-up(lg) {
        flex: 0 0 75%;
        max-width: 75%;
      }
    }

    aside {
      flex: 0 0 100%;
      max-width: 100%;
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;

      @include media-breakpoint-up(lg) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }
  }
}

.offcanvas-collapse {
  position: fixed;
  bottom: 0;
  width: 0;
  top: 8.3rem;
  padding: 0;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  background-color: $white;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: width, margin-left, visibility, opacity;
  z-index: 1070;
  margin-left: -100%;

  svg {
    padding: 1.5rem 1.5rem 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    top: 4rem; /* Height of navbar */
    margin-left: -22.5rem;
  }

  .sidebar-expanded & {
    margin-left: 0;
    visibility: visible;
    width: 100%;
    opacity: 1;

    @include media-breakpoint-up(sm) {
      width: 22.5rem;
    }
  }
}

.sidebar {
  .widget {
    @include box-shadow(1);

    background-color: $white;

    header {
      padding: 1.5rem 1.5rem 0;
    }

    h3 {
      @include font-family('ubuntu', 'regular');
      @include font-size(16);

      position: relative;
      text-transform: uppercase;
      padding-bottom: 2rem;
      margin-bottom: 2.2rem;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 33px;
      }
    }

    nav {
      @include font-size(13);

      padding: 0 1.5rem 1.5rem;

      a {
        color: $black-200;
      }
    }

    > p {
      @include font-size(13);
    }
  }
}
