@font-face {
  font-family: 'libre_franklinlight';
  src:
    url('../fonts/Libre_Franklin-Light.woff2') format('woff2'),
    url('../fonts/Libre_Franklin-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'vigaregular';
  src:
    url('../fonts/Viga-Regular.woff2') format('woff2'),
    url('../fonts/Viga-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntubold';
  src:
    url('../fonts/Ubuntu-Bold.woff2') format('woff2'),
    url('../fonts/Ubuntu-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntumedium';
  src:
    url('../fonts/Ubuntu-Medium.woff2') format('woff2'),
    url('../fonts/Ubuntu-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubunturegular';
  src:
    url('../fonts/Ubuntu-Regular.woff2') format('woff2'),
    url('../fonts/Ubuntu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntulight';
  src:
    url('../fonts/Ubuntu-Light.woff2') format('woff2'),
    url('../fonts/Ubuntu-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::-moz-selection {
  background-color: $lime;
  color: $gray-800;
}

::selection {
  background-color: $lime;
  color: $gray-800;
}

html {
  font-size: 62.5%;
}

body {
  @include font-family();
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family('ubuntu', 'light');
}

// Time
time,
.entry-category {
  @include font-size(10);

  color: rgba($black-200, 0.75);
}

.entry-category {
  text-transform: uppercase;
  margin: 0;
}

// Sharing
.entry-type {
  @extend .nav;
  @extend .justify-content-end;
  @extend .nav-pills;
  @extend .nav-justified;
}

// Pagination
.pagination {
  @include font-size(12);

  padding: 0 0 1rem;
}

a {
  transition: color 0.3s ease-in;

  svg & {
    cursor: pointer;
  }

  .pagination & {
    @extend .nav-link;

    padding: 1rem 1.5rem;
  }

  .entry-type & {
    color: rgba(#fff, 0.5);
  }

  &:hover {
    .wp-pagenavi & {
      margin-top: -1px;
    }
  }

  .entry-category:not(:hover) & {
    color: hsla(0, 0%, 30%, 1);
  }
}

#agro_rural__logo {
  path,
  polygon {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: transparent;
  }

  &.dark {
    path,
    polygon {
      fill: rgba($black, 0.85);

      &.empty {
        fill: $white;
      }
    }
  }

  &.light {
    path,
    polygon {
      fill: rgba($white, 0.75);

      &.empty {
        fill: transparent;
      }
    }
  }

  &.color {
    #leafs {
      path {
        &.leaf-1 {
          fill: $green-agro-rural-200;
        }

        &.leaf-2 {
          fill: $lime-agro-rural;
        }

        &.leaf-3 {
          fill: $orange-agro-rural;
        }

        &.leaf-4 {
          fill: $yellow-agro-rural;
        }
      }
    }

    #base,
    #letters {
      path {
        fill: $green-agro-rural-300;
      }
    }
  }
}

//Container boxed
.container-boxed {
  @extend .container;

  position: relative;
  max-width: 100%;

  @include media-breakpoint-up(lg) {
    max-width: 124rem;
  }
}

//section
.section {
  padding: 4rem 0 1.5rem;

  @include media-breakpoint-up(md) {
    padding: 7.5rem 0 3rem;
  }

  .section-title,
  .widget h3 {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 30px;
      height: 2px;
      background-color: transparent;
    }
  }
}

//Forms
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
.custom-select:not(.browser-default) {
  border-bottom: 1px solid $gray-200;
}

// Hentry
.entry-img {
  position: relative;
  // height: 100%;

  .entry-type {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}

.entry-summary {
  @extend .d-none;
  @extend .d-sm-block;
}

// Figures
figure {
  margin: 0;
}
