//
// Color system
//
// stylelint-disable
//Whites
$white-25: rgba(#ffffff, 0.25);
//Blacks
$black-100: #969696;
$black-200: #555555;
$black-300: #323232;
$black-25: rgba(#000000, 0.25);
//Grays
$gray-200: #ebebeb;
$gray-100: #fafafa;
//Reds
$red: #cd0500;
//Oranges
$orange-100: #f5d269;
$orange-200: #f0b405;
$orange-300: #E66905;
$orange-agro-rural: #c63;
// Greens
$green-200: #055a02;
$green-agro-rural-200: #007739;
$green-agro-rural-300: #005425;
$green-100: #3c960a;
$green-light-200: #7daf28;
$green-light-100: #A0D72D;
$lime: #D7FF00;
$lime-agro-rural: #b7c72c;
//Browns
$brown-100: #c8b49b;
$brown-200: #8c6437;
$brown-300: #5f3714;
$brown-400: #41230a;
//Yellows
$yellow-100: #faf5b9;
$yellow-200: #f5e66e;
$yellow-300: #f0e11e;
$yellow-agro-rural: #fc0;
//Blues
$blue-100: #1491a0;
$blue-200: #0f5f69;
$blue-sky-100: #dcffff;
$blue-sky-200: #afebeb;
$blue-sky-300: #3ccdcd;
//Lavenders
$lavender-100: #825f87;
$lavender-200: #370541;
//Purples
$purple-100: #b48caf;
$purple-200: #690a55;
//Social
$blue-fb: #3b5999;
$blue-li: #0077B5;
$blue-tw: #55acee;
$green-wa: #25D366;
//Defaults
$primary: $green-100;
$secondary: $black-100;
$success: $green-100;
$info: $blue-100;
$warning: $orange-300;
$danger: $red;
//Headings
$font-size-base: 1.6rem;
$line-height-base: 1.313;
// Forms
$input-padding-y: 1.15rem;

$input-bg: transparent;
$input-border-color: transparent;
$input-disabled-bg: transparent;
$custom-select-bg: transparent;
$custom-select-disabled-bg: transparent;
$input-padding-x: 0;
$input-padding-x-sm: 0;
$input-padding-x-lg: 0;
$input-focus-border-color: transparent;
$input-box-shadow: 0 none;
$input-border-width: 0;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-focus-bg: transparent;
$input-focus-border-color: transparent;
$input-focus-width: 0;
$input-focus-box-shadow: 0 none;
$custom-select-focus-border-color: transparent;
$custom-select-focus-box-shadow: 0 none;
$custom-select-padding-x: 0;
$custom-select-padding-y: 1.15rem;
$custom-select-height: 5rem;

// Links
//
// Style anchor elements.
$link-decoration: none;
$link-hover-decoration: none;

@mixin bg-gradient($from: $black-200, $to: false, $deg: 0deg, $image: false) {
  background: $from;

  @if ($image != false) {
    background-image: url($image);

    @if ($to != false) {
      background-image: url($image), linear-gradient($deg, $from, $to);
    }

    @else {
      background-image: url($image), linear-gradient($deg, mix($body-bg, $from, 15%), $from);
    }
  }

  @else {
    @if ($to != false) {
      background: $from linear-gradient($deg, $from, $to);
    }

    @else {
      background: $from linear-gradient($deg, mix($body-bg, $from, 30%), $from);
    }
  }

  @include bg-cover();
}

@mixin theme($name: 'theme-default', $primary-color: $primary, $secondary-color: $secondary, $contrast-color: $yellow-200) {
  $theme-colors: (
    "primary": $primary-color,
    "secondary": $secondary-color,
    "contrast": $contrast-color
  );

  $primary: map-get($theme-colors, primary);
  $secondary: map-get($theme-colors, secondary);
  $contrast: map-get($theme-colors, contrast);
  $link-color: $primary;
  $link-hover-color: $secondary;

  .#{$name} {
    .jumbotron {
      @include bg-gradient($primary 50%, rgba($secondary, 0.15) 50%, 45deg);

      h1,
      p {
        color: color-yiq($primary);
      }

      hr {
        border-top: 1px solid rgba($contrast, 0.1);
      }
      .pagination-container {
        .pagination {
          a:not(.disabled) {
            color: color-yiq($primary);

            &.active {
              border-top: 1px solid $contrast;
            }
          }

          li{
            border-top: 1px solid rgba(color-yiq($primary), 0.15);

            &.current-menu-item,
            &.current-menu-item:hover{
              border-top: 1px solid $contrast;

              a {
                color: $contrast;
              }
            }

            &:hover {
              border-top: 1px solid rgba($contrast, 0.75);
            }
          }
        }
      }
    }

    .section {
      background-color: rgba($secondary-color, 0.15);
      margin-bottom: 3rem;
      margin-top: -2rem;
    }

    .entry-share {
      a {
        background-color: rgba($primary, 0.75);
      }
    }

    .entry-type {
      .fa-camera,
      .fa-video,
      .fa-bookmark {
        color: $primary;
      }
    }

    .entry-title {
      a {
        color: $link-color;

        &:hover {
          color: $link-hover-color;
        }
      }
    }

    .entry-category {
      a:hover {
        color: $link-hover-color;
      }
    }

    .wp-pagenavi {
      border-top: 1px solid rgba(color-yiq($contrast), 0.15);

      a {
        color: rgba(color-yiq($contrast), 0.5);

        &:hover {
          color: $primary;
          border-top: 1px solid $primary;
        }
      }

      .current {
        color: $primary;
        border-top: 1px solid $primary;
      }
    }

    .simplebar-scrollbar {
      &::before {
        background-color: rgba($contrast, 0.75);
      }

      &:hover {
        &::before {
          background-color: $contrast;
        }
      }
    }

    @each $color, $value in $theme-colors {
      .btn-#{$color} {
        @include button-variant($value, $value);
      }

      .badge-#{$color} {
        @include badge-variant($value);
      }
    }
  }
}
