@import "common/variables";

/** Import everything from autoload */
@import "./autoload/**/*";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~swiper/dist/css/swiper";
@import "~simplebar/dist/simplebar";
@import "~bootstrap-select/sass/bootstrap-select";

/** Import theme styles */
@import "common/mixins";

@include theme('theme-green', $green-100, $green-light-200, $orange-200);
@include theme('theme-blue', $blue-200, $blue-sky-300, $lime);
@include theme('theme-gray', $black-200, $gray-100, $green-light-100);
@include theme('theme-purple', $purple-200, $purple-100, $orange-200);

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/nav";
@import "components/swiper";
@import "components/jumbotron";
@import "components/floating_labels";
@import "components/blog";
@import "components/share";
@import "components/wp-pagenavi";
@import "components/simplebar";
@import "components/bootstrap-select";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
@import "layouts/front-page";
