.blog,
.category,
.archive,
.show-results,
.template-landing {
  article {
    display: flex;
    flex-direction: column;

    .entry-body {
      header {
        margin-bottom: 1rem;
      }

      .entry-title {
        @include font-family('ubuntu', 'medium');

        font-size: 1.6rem;
        margin: 1rem 0 1rem;
      }
    }
  }

  .content-featured-container {
    @extend .col-12;

    article {
      margin-bottom: 3rem;

      @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 10rem;

        .entry-body {
          .entry-summary {
            display: block;
            margin-top: auto;

            > p {
              margin-bottom: 0;
            }
          }
        }
      }

      .entry-body {
        @include media-breakpoint-up(sm) {
          .entry-title {
            font-size: 2.4rem;
          }
        }

        @include media-breakpoint-up(lg) {
          .entry-title {
            font-size: 3rem;
          }

          display: flex;
          flex-direction: column;
          width: 75%;
          margin-right: 6rem;
        }
      }
    }
  }

  .content-container {
    @extend .col-sm-6;
    @extend .col-lg-3;

    &.search-result {
      @extend .col-12;
    }
  }

  .entry-share {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: 0;

    a {
      padding: 0;
      height: 2.4rem;
      width: 2.4rem;
      margin-left: 0.5rem;
    }
  }
}

.category {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
