.blog,
.category,
.archive {
  .content-featured-container {
    @extend .col-12;
  }

  .content-container {
    @extend .col-sm-6;
    @extend .col-lg-3;

    margin-bottom: 3rem;

    article {
      display: flex;
      flex-direction: column;

      .entry-body {
        header {
          margin-bottom: 1rem;
        }

        .entry-title {
          @include font-family('ubuntu', 'medium');
          @include font-size(16);

          margin: 1rem 0 1rem;
        }
      }

      &.featured {
        margin-bottom: 3rem;

        @include media-breakpoint-up(lg) {
          margin-bottom: 10rem;
        }

        .entry-body {
          @include media-breakpoint-up(sm) {
            .entry-title {
              @include font-size(24);
            }
          }

          @include media-breakpoint-up(lg) {
            .entry-title {
              @include font-size(30);
            }

            display: flex;
            flex-direction: column;
            width: 75%;
            margin-right: 6rem;
          }
        }

        @include media-breakpoint-up(lg) {
          flex-direction: row-reverse;
          justify-content: space-between;

          .entry-body {
            .entry-summary {
              display: block;
              margin-top: auto;

              > p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.category {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}
