.form-group {
  position: relative;
  margin-bottom: 1rem;

  > input,
  > label {
    padding: $input-padding-y 0;
  }

  > label {
    position: absolute;
    top: 0;
    left: auto;
    display: block;
    width: 100%;
    transition: all 0.1s ease-in-out;
    cursor: text;
  }

  > .custom-select,
  > .custom-input {
    padding-top: $input-padding-y + $input-padding-y * (2 / 3);
    padding-bottom: $input-padding-y / 3;

    ~ label {
      @include font-size(12,
      12);

      cursor: default;
      padding-top: $input-padding-y / 2;
      padding-bottom: $input-padding-y / 2;
    }
  }

  > input {
    &:focus {
      ~ label {
        @include font-size(12,
        12);

        padding-top: $input-padding-y / 2;
        padding-bottom: $input-padding-y / 2;
      }

      padding-top: $input-padding-y + $input-padding-y * (2 / 3);
      padding-bottom: $input-padding-y / 3;
    }
  }

  &.has-value {
    > input {
      ~ label {
        @include font-size(12,
        12);

        padding-top: $input-padding-y / 2;
        padding-bottom: $input-padding-y / 2;
      }

      padding-top: $input-padding-y + $input-padding-y * (2 / 3);
      padding-bottom: $input-padding-y / 3;
    }
  }

  > .btn {
    padding-top: $input-padding-y;
    padding-bottom: $input-padding-y;
  }
}
