.jumbotron {
  h1 {
    @include font-family('viga', 'regular');

    @extend .display-4;

    margin-bottom: 1rem;
  }

  p {
    @extend .lead;

    margin-bottom: 3rem;
  }

  nav,
  div ul {
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
  }

  .template-landing & {
    height: 40rem;
  }

  .direcciones-zonales & {
    @include section-palette($blue-100, $lime, true);
  }

  .category & {
    padding-bottom: 0;
    margin-bottom: 0;

    .headerIcon {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;
      justify-content: space-between;

      header {
        display: flex;
        align-items: center;

        h1 {
          padding-left: 1rem;
          margin-bottom: 0;
        }
      }

      footer {
        color: $white;
      }
    }
  }

  // .blog &,
  // .category & {
  //   padding-bottom: 0;
  //   margin-bottom: 0;
  // }

  &.with-slider {
    padding: 0;

    .swiper-slide {
      @include bg-overlay($black);
    }
  }

  &.with-thumbnail {
    @include bg-overlay($black);
  }

  &.with-menu {
    margin-bottom: 0;
  }
}
