.jumbotron {
  h1 {
    @include font-family('viga', 'regular');

    @extend .display-4;

    margin-bottom: 1rem;
  }

  p {
    @extend .lead;

    margin-bottom: 3rem;
  }

  nav,
  div ul {
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
  }

  .template-documentos &,
  .single-documentos & {
    @include section-palette($green-100, $yellow-200, true);
  }

  .direcciones-zonales & {
    @include section-palette($blue-100, $lime, true);
  }

  .blog &,
  .category & {
    padding-bottom: 0;
  }
}
