nav {
  @extend .navbar;

  ul {
    @extend .navbar-nav;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }
    }
  }

  &#footer_navigation {
    ul {
      flex-direction: row;

      a {
        display: block;
        color: $white;
        padding: 0.5rem 1rem;
      }
    }
  }

  &#social_navigation {
    border-top: 1px solid rgba($white, 0.25);

    ul {
      @include font-size(16);

      flex-direction: row;

      a {
        display: block;
        padding: 0.5rem 1rem;

        span {
          display: none;
        }
      }
    }
  }

  &#landingNav {
    ul {
      width: 100%;
    }
  }

  &#intranetNav {
    width: 100%;
    padding-left: 0;
    padding-right: 0;

    .dropdown-header {
      // padding: 0.5rem 0;
      color: $green-100;
    }

    ul {
      width: 100%;

      li {
        a {
          color: $black-100;
          padding: 0.5rem 1.5rem;
          background-color: transparent;
          transition: background-color 0.1s ease-in-out;

          &:hover {
            color: $white;
            background-color: rgba($green-100, 0.9);
          }
        }
      }
    }
  }
}

#mega-menu-wrap-primary_navigation #mega-menu-primary_navigation,
#mega-menu-wrap-primary_navigation .mega-menu-toggle {
  transition: all ease 0.1s;
}

.mega-toggle-label {
  display: none;
}

#mega-menu-wrap-primary_navigation .mega-menu-toggle .mega-toggle-blocks-left .mega-toggle-block {
  margin-left: 0;

  &::after {
    margin: 0;
  }
}
