//Formulario
#omnisearch {
  .search-result-container {
    transition: all ease-in 0.5s;

    // nav {
    //   margin: 2rem auto;
    //   padding: 0;
    //   border-top: 1px solid rgba(33, 37, 41, 0.15);

    //   a {
    //     color: rgba(33, 37, 41, 0.5);

    //     &:hover {
    //       color: $primary;
    //       border-top: 1px solid $primary;
    //     }
    //   }

    //   .current {
    //     color: $primary;
    //     border-top: 1px solid $primary;
    //   }
    // }

    .search-result {
      @extend .col-12;

      article {
        .entry-container {
          position: relative;
          margin-bottom: 1rem;

          .entry-title {
            margin-top: 0;
            margin-bottom: 0.25rem;
          }

          .entry-content,
          .post-meta {
            font-size: 80%;
          }
        }
      }
    }

    .show-results & {
      display: block;
    }

    .hide-results & {
      display: none;
    }
  }
}

/* #omnisearch {
  h2 {
    text-align: center;
  }
} */

#primary_navigation {
  .searchBox {
    .searchForm {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 1.5rem;
      top: 0;
      height: 5rem;

      .form-group {
        display: none;
        width: 0;
        opacity: 0;
        margin-bottom: 0;
        transition: all ease-out 0.3s;

        input,
        label {
          color: $white;
          padding-left: 1.5rem;
          margin-bottom: 0;
        }

        label {
          display: none;
          left: 15rem;
        }

        .btn-link {
          color: $yellow-200;
        }
      }

      .bootstrap-select {
        .dropdown-toggle {
          color: $white;
        }
      }

      #showForm {
        color: $white;
      }
    }
  }

  .with-searchform & {
    #mega-menu-wrap-primary_navigation #mega-menu-primary_navigation,
    #mega-menu-wrap-primary_navigation .mega-menu-toggle {
      visibility: hidden;
    }

    .searchForm {
      left: 1.5rem;

      .form-group {
        display: flex;
        justify-content: space-between;
        opacity: 1;
        width: 100%;

        .form-label-group {
          position: static;
          width: calc(100% - 18.5rem);

          input {
            border-bottom: 1px solid $white;
          }
        }

        label {
          display: flex;
          width: auto;
        }
      }

      #showForm {
        color: $yellow-200;
      }
    }
  }
}
