// 
.entry-follow {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  z-index: 1000200;
  padding: 0;
  overflow: hidden;

  @include media-breakpoint-up(lg) {
    flex-direction: column;
    align-items: start;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    left: 0;
    right: auto;
    width: auto;

    .shareName {
      opacity: 0;
      transition-property: opacity;
      transition-duration: 0.1s;
      transition-timing-function: linear;
      transition-delay: 0.2s;
    }
  }

  a {
    position: relative;
    display: flex;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    color: $white;
    height: 4.8rem;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      width: 4.8rem;
      max-width: 100%;
      transition: width 0.3s ease;
      justify-content: start;
      padding: 0 1.5rem;
      transition-property: width;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
      transition-delay: 0.1s;

      &:hover {
        width: 100%;

        .shareName {
          opacity: 1;
        }
      }
    }

    &.fb {
      background-color: $blue-fb;
    }

    &.tw {
      background-color: $blue-tw;
    }

    &.yt {
      background-color: $red-yt;
    }
  }

  .shareName {
    padding-left: 1rem;
  }
}

.entry-share {
  @extend .nav;

  h4,
  .shareName {
    display: none;
  }

  .fa-stack {
    @include font-size(12);
  }

  a {
    @extend .nav-link;

    color: rgba(255, 255, 255, 0.5);

    &:hover {
      &.fb {
        color: $blue-fb;
      }

      &.tw {
        color: $blue-tw;
      }

      &.yt {
        color: $red-yt;
      }

      &.wa {
        color: $green-wa;
      }
    }
  }
}

.content-info {
  margin-bottom: 6.8rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(lg) {
  .sidebar-expanded {
    .entry-follow {
      left: -4.8rem;
    }
  }
}
