%transition_all_03s {
  transition: all 0.3s ease;
}

%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

[class^="swiper-slide-shadow-"] {
  @extend %backface_visibility_hidden;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;

  @extend %transition_all_03s;
}

.swiper-container {
  width: 100%;
  transition: opacity 0.6s ease, transform 0.3s ease;

  .swiper-slide {
    &.swiper-slide-active {
      z-index: 2;
    }

    &.loading {
      opacity: 0;
      visibility: hidden;
    }

    &.scale-out {
      transform: scale(0.9);
    }

    &.scale-in {
      transform: scale(1);
    }

    .entity-img {
      display: none;
    }

    .swiper-button-prev {
      transform: translateX(50px);
    }

    .swiper-button-next {
      transform: translateX(-50px);
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      background-color: $white;
      opacity: 0.4;

      @extend %transition_all_03s;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0 solid $white;
        border-radius: 50%;

        @extend %transition_all_03s;
      }

      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }

      &.swiper-pagination-bullet-active {
        &::before {
          border-width: 1px;
        }
      }
    }
  }
}

#home__slider {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    perspective: 1600px;

    .content {
      position: absolute;
      top: 40%;
      left: 0;
      width: 50%;
      padding-left: 5%;
      color: $white;
      transform: translateZ(100px) translateX(100px);

      .title {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 30px;
      }

      .caption {
        display: block;
        font-size: 12px;
        line-height: 1.4;
      }

      @media (max-width: 1180px) {
        .title {
          font-size: 25px;
        }

        .caption {
          font-size: 12px;
        }
      }
    }
  }
}
