.template-directorios {
  .section {
    background-color: transparent;
  }

  .search-result {
    h3 {
      &:not(:first-child) {
        margin-top: 5rem;
      }
    }
  }

  article {
    .nav {
      font-size: 85%;
    }

    .media {
      @extend .card;
      @extend .flex-sm-column;
      @extend .flex-md-row;
      @extend .mb-4;

      align-items: flex-end;

      @include media-breakpoint-up(md) {
        height: 13rem;
        align-items: center;
      }
    }

    img {
      @extend .d-none;
      @extend .d-lg-block;

      width: 11.5%;
      height: 100%;
    }

    .nav-details {
      display: flex;
      flex-direction: row;

      @include media-breakpoint-up(md) {
        flex-direction: column;
      }

      align-items: center;
      justify-content: center;
      padding: 0;

      a {
        background-color: rgba(0, 0, 0, 0.05);
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2.6rem;
        padding: 0;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);

        &:hover {
          color: $green-100;
          background-color: rgba(0, 0, 0, 0.08);
        }
      }
    }

    .media-body {
      @extend .card-body;
      @extend .d-md-flex;
      @extend .flex-md-column;
      @extend .align-items-md-start;

      height: 100%;
      width: 100%;
      justify-content: space-between;

      .nav {
        display: flex;
        flex-direction: column;

        li a {
          @extend .nav-link;

          padding: 0.5rem 0;
          color: rgba(0, 0, 0, 0.5);

          &:hover {
            color: $green-100;
          }
        }

        li.phone {
          a {
            padding: 0 1rem;
          }

          a:first-child {
            padding: 0 1rem 0 0;
          }

          a:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    // &.child {
    //   margin-left: 1.5rem;
    // }
  }
}
