.template-directorios {
  .section {
    background-color: transparent;

    .section-title button {
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
    }
  }

  .search-result {
    h3 {
      &:not(:first-child) {
        margin-top: 5rem;
      }
    }
  }

  article {
    .nav {
      @include font-size(12, 12);

      color: rgba(0, 0, 0, 0.85);

      a {
        color: rgba(0, 0, 0, 0.85);

        &:hover {
          color: $primary;
        }
      }

      &.nav-details {
        display: flex;
        flex-direction: row;

        @include media-breakpoint-up(md) {
          flex-direction: column;
        }

        align-items: center;
        justify-content: center;
        padding: 0;

        a {
          background-color: rgba(0, 0, 0, 0.05);
          width: 2.6rem;
          height: 2.6rem;
          line-height: 2.6rem;
          padding: 0;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
        }
      }

      &.fa-ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 2rem;

        li {
          padding: 0.25rem 0;

          a {
            @extend .nav-link;

            padding: 0;
          }

          .fa-li {
            color: rgba(0, 0, 0, 0.5);
          }
        }

        li.phone {
          display: flex;

          a:not(:last-child) {
            &::after {
              content: '\00a0\00a0\005C\00a0\00a0';
              position: relative;
              color: rgba(0, 0, 0, 0.5);
            }
          }
        }
      }
    }

    .media {
      @extend .card;
      @extend .flex-sm-column;
      @extend .flex-md-row;
      @extend .mb-4;

      align-items: flex-end;
      height: 100%;

      @include media-breakpoint-up(md) {
        align-items: center;
      }
    }

    img {
      @extend .d-none;
      @extend .d-lg-block;

      width: 12rem;
      height: 13rem;
    }

    .media-body {
      @extend .card-body;
      @extend .d-md-flex;
      @extend .flex-md-column;
      @extend .align-items-md-start;

      height: 100%;
      width: 100%;
      justify-content: space-between;

      header {
        small {
          @include font-size(12, 12);

          color: rgba(0, 0, 0, 0.85);
        }
      }
    }
  }
}
