// WP-Pagenavi
.wp-pagenavi-container {
  margin-top: 3rem;
  margin-bottom: 3rem;

  nav {
    @extend .justify-content-center;

    padding: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    span {
      @extend .nav-link;

      padding: 1rem 1.5rem;

      &.current {
        margin-top: -1px;
      }

      &.pages {
        display: none;
      }
    }

    .page,
    .extend,
    .last,
    .navi {
      @extend .d-none;
      @extend .d-md-block;
      @extend .d-lg-block;
      @extend .d-xl-block;

      color: rgba(0, 0, 0, 0.5);
    }
  }

  &.pagination-top {
    nav {
      border-top: 0 none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      span {
        &.current {
          margin-top: 0;
          margin-bottom: -1px;
        }
      }
    }
  }

  &.pagination-fixed {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;

    nav {
      margin: 0 auto;
    }
  }
}
