%transition_all_03s {
  transition: all 0.3s ease;
}

%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;

  @extend %transition_all_03s;
}

.swiper-container {
  width: 100%;
  transition: opacity 0.6s ease;

  .swiper-slide {
    background-position: center top;
    background-size: cover;

    .fa-layers {
      position: absolute;
      width: 4.8rem;
      top: 2rem;
      right: 2rem;

      .fa-circle {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .entity-img {
    display: none;
  }

  &.loading {
    opacity: 0;
    visibility: hidden;
  }

  .swiper-button-prev {
    transform: translateX(50px);
  }

  .swiper-button-next {
    transform: translateX(-50px);
  }

  .swiper-button-disabled {
    opacity: 0.5 !important;
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  &#home__slider {
    .swiper-slide {
      @media (max-width: 1180px) {
        .content {
          .title {
            font-size: 25px;
          }

          .caption {
            font-size: 12px;
          }
        }
      }

      .content {
        position: absolute;
        top: 40%;
        left: 0;
        width: 50%;
        padding-left: 5%;
        color: $white;

        .title {
          font-size: 2.6em;
          font-weight: bold;
          margin-bottom: 30px;
        }

        .caption {
          display: block;
          font-size: 13px;
          line-height: 1.4;
        }
      }

      &.swiper-slide-active {
        max-width: 100%;
      }
    }

    &.swiper-container-horizontal {
      > .swiper-pagination-bullets {
        .swiper-pagination-bullet {
          margin: 0 9px;
          position: relative;
          width: 12px;
          height: 12px;
          background-color: $white;
          opacity: 0.4;

          @extend %transition_all_03s;

          &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 18px;
            height: 18px;
            transform: translate(-50%, -50%);
            border: 0 solid $white;
            border-radius: 50%;

            @extend %transition_all_03s;
          }

          &:hover,
          &.swiper-pagination-bullet-active {
            opacity: 1;
          }

          &.swiper-pagination-bullet-active {
            &::before {
              border-width: 1px;
            }
          }
        }
      }
    }

    @media (max-width: 1023px) {
      &.swiper-container-coverflow {
        padding-top: 0;
      }
    }
  }

  &#multimedia__slider {
    .swiper-slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 45rem;
      margin: auto;
      text-align: center;

      .entry-body {
        padding: 2rem 5rem;
        background: linear-gradient(180deg, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.75));

        @include media-breakpoint-up(lg) {
          padding: 2rem 20rem;
        }

        .entry-title {
          @include font-size(24, 30);

          a {
            color: $white;
          }
        }

        .entry-summary {
          time {
            color: rgba(#fff, 0.75);
          }
        }
      }
    }
  }
}

//
// Navbar Swiper
//
.navbar-swiper {
  .nav-swiper-pagination {
    @include font-size(12);

    position: relative;
    width: auto;
    left: auto;
    bottom: 0;
    margin-right: 1rem;
  }

  .swiper-navigation {
    position: relative;
    width: auto;

    .btn {
      padding: 0 0.75rem;

      &:first-child {
        margin-right: 0.75rem;
      }

      &.swiper-button-disabled,
      &.swiper-button-disabled:hover,
      &.swiper-button-disabled:focus {
        background-color: inherit;
        color: $primary;
        opacity: 0.65;
        cursor: not-allowed;
        box-shadow: none;
      }
    }
  }
}
